#sp_tfree_shortcode_options .inside,
#sp_tpro_feature_list .inside {
    padding: 0;
    margin-top: 0;
}

.text-center {
    text-align: center;
}

.misc-pub-section:not(.misc-pub-post-status) {
    display: none;
}

.sp-pro-version-text{
    display: inline-block;
}
.sp-tfree-image-select label,
.sp-tfree-image-select div.sp-tfree-label{
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}
.sp-tfree-image-select div.sp-tfree-label{
    opacity: .5;
}
.sp-tfree-image-select label input,
.sp-tfree-image-select div.sp-tfree-label input{
    display: none;
}
.sp-tfree-image-select label img,
.sp-tfree-image-select div.sp-tfree-label img{
    max-width: 100%;
    vertical-align: bottom;
    background-color: #fff;
    border: 2px solid #eee;
    opacity: 0.75;
    -moz-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.sp-tfree-image-select label input:checked ~ img {
    border-color: #52b3d9;
    opacity: 1;
}

.js #sp_tfree_shortcode_options.postbox .handlediv,
.js #sp_tfree_shortcode_options.postbox .hndle {
    display: none;
}

.sp-tfree-metabox-framework .sp-tfree-mbf-banner{
    background-color: #2684a6;
    padding: 24px 28px;
    overflow: hidden;
}
.sp-tfree-metabox-framework .sp-tfree-mbf-banner .sp-tfree-mbf-logo{
    float: left;
}
.sp-tfree-metabox-framework .sp-tfree-mbf-banner .sp-tfree-mbf-logo img{
    display: block;
    width: 220px;
}
.sp-tfree-metabox-framework .sp-tfree-mbf-banner .sp-tfree-mbf-short-links{
    float: right;
    line-height: 31px;
}
.sp-tfree-metabox-framework .sp-tfree-mbf-banner .sp-tfree-mbf-short-links a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 16px;
    font-size: 15px;
}
.sp-tfree-metabox-framework .sp-tfree-mbf-banner .sp-tfree-mbf-short-links a:focus{
    outline: none;
    box-shadow: none;
}
.sp-tfree-metabox-framework .sp-tfree-mbf {
    display: inline-flex;
    width: 100%;
    background-color: #fffdfd;
}

.sp-tfree-mbf .sp-tfree-col-lg-3 {
    border-right: 1px solid #dddddd;
    width: 33.33%;
}

.sp-tfree-mbf .sp-tfree-col-lg-3:last-of-type {
    border-right: 0;
}

.sp-tfree-mbf .sp-tfree-col-lg-3 .sp-tfree-mbf-shortcode {
    padding: 42px 16px;
}

.sp-tfree-mbf .sp-tfree-col-lg-3:last-child .sp-tfree-mbf-shortcode {
    padding: 42px 16px 0 16px;
}

.sp-tfree-mbf .sp-tfree-mbf-shortcode p {
    margin-top: 2px;
    color: #4c5158;
}

.sp-tfree-col-lg-3 .sp-tfree-mbf-shortcode .selectable {
    -webkit-touch-callout: all;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}

.sp-tfree-col-lg-3 .sp-tfree-mbf-shortcode .tfree-sc-code {
    background-color: rgba(82, 179, 217, 0.11);
    padding: 8px 10px;
    display: inline-block;
}

.sp-tfree-mbf .sp-tfree-col-lg-3 img.back-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.sp-tfree-mbf .sp-tfree-mbf-shortcode .sp-tfree-mbf-shortcode-title {
    font-weight: 500;
    font-size: 17px !important;
    padding-top: 0 !important;
    color: #4c5158;
}

.sp-tfree-metabox-framework .sp-tfree-shortcode-divider {
    height: 20px;
    background: #f1f1f1;
    border-top: 1px solid #dddddd;
}

#sp_tfree_shortcode_options.postbox{
    border: 1px solid #dddddd;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* Tab Menu */
.sp-tfree-metabox-framework .sp-tfree-mbf-nav {
    background: #f1f1f1;
    padding-top: 0;
    border-bottom: 0;
}

.sp-tfree-metabox-framework a.nav-tab {
    margin-bottom: -2px;
    margin-left: 0;
    font-size: 13px;
    padding: 16px 15px;
    line-height: 1.4;
    border-left: 0;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
    background-color: #52b3d9;
    border-right-color: #e2e2e2;
    text-transform: uppercase;
    font-weight: 600;
}

.sp-tfree-metabox-framework a.nav-tab:hover {
    cursor: pointer;
}

.sp-tfree-metabox-framework a.nav-tab i.sp-tfree-font-icon {
    width: 20px;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
}

.sp-tfree-metabox-framework a.nav-tab.nav-tab-active {
    border-bottom: 1px solid transparent;
    border-top: 1px solid #52b3d9;
    background-color: #fff;
    box-shadow: 0 3px 0 0 #52b3d9 inset;
    color: #32373c;
    -webkit-transition: ease-out all .3s;
    -moz-transition: ease-out all .3s;
    -o-transition: ease-out all .3s;
    transition: ease-out all .3s;
}

.sp-tfree-metabox-framework a.nav-tab.nav-tab-active i {
    color: #52b3d9;
    -webkit-transition: ease-out all .3s;
    -moz-transition: ease-out all .3s;
    -o-transition: ease-out all .3s;
    transition: ease-out all .3s;
}

.sp-tfree-metabox-framework a.nav-tab.sp-tfree-upgrade-to-pro {
    background-color: #35b135;
    color: #ffffff;
}

.sp-tfree-metabox-framework a.nav-tab.sp-tfree-upgrade-to-pro.nav-tab-active {
    background-color: #ffffff;
    border-top: 1px solid #35b135;
    box-shadow: 0 3px 0 0 #35b135 inset;
    color: #35b135;
}

.sp-tfree-metabox-framework a.nav-tab.sp-tfree-upgrade-to-pro.nav-tab-active i {
    color: #35b135;
}

.sp-tfree-metabox-framework .sp-tfree-mbf-tab-content {
    display: none;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.sp-tfree-mbf-tab-content.nav-tab-active {
    margin-top: 0;
    display: inherit;
    background-color: #fff;
}

/*Typography*/
.sp-tfree-mbf-tab-content .sp-tpro-notice{
    font-size: 15px;
    margin: 22px 30px;
    color: #2f2f2f;
    background: #f9f9f9;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
    padding: 10px 12px;
    border-left: 3px solid #f90000;
}
.sp-tfree-mbf-tab-content .sp-tpro-notice a{
    text-decoration: none;
}

.sp-tfree-mbf-tab-content .sp-tfree-element .sp-element{
    display: inline-block;
    padding: 0 5px 0 0;
    margin: 0;
    line-height: 1.5;
    color: #999;
}
.sp-tfree-mbf-tab-content.sp-tfree-mbf-tab-typography .sp-tfree-input-field{
    margin-left: 30%;
    display: block;
}
.sp-tfree-mbf-tab-content.sp-tfree-mbf-tab-typography .sp-tfree-input-label{
    float: left;
    display: block;
}
.sp-tfree-mbf-tab-content.sp-tfree-mbf-tab-typography .sp-divider{
    width: 100%;
    display: block;
    height: 10px;
}

.sp-tfree-mbf-tab-content .sp-element .chosen-container-single .chosen-single,
.sp-tfree-mbf-tab-content .sp-element .chosen-container-active.chosen-with-drop .chosen-single,
.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container-single .chosen-single,
.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #fff;
    border-color: #d1d1d1;
    border-radius: 1px;
    height: 38px;
    line-height: 36px;
    padding-left: 12px;
}
.sp-tfree-mbf-tab-content .sp-element .chosen-container-single .chosen-single div,
.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container-single .chosen-single div {
    top: 7px;
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container .chosen-results {
    padding: 0;
    margin: 0;
    border-top: 1px solid #d1d1d1;
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container .chosen-results li {
    padding: 10px 14px;
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field li.highlighted,
.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container .chosen-results li.highlighted{
    background-color: #52b3d9;
    background-image: none;
}

.sp-tfree-mbf-tab-content .sp-element.sp-font-alignment .chosen-container{
    min-width: 93px !important;
}
.sp-tfree-mbf-tab-content .sp-element.sp-font-transform .chosen-container{
    min-width: 120px !important;
}
.sp-tfree-mbf-tab-content .sp-element.sp-font-spacing .chosen-container{
    min-width: 96px !important;
}
.sp-tfree-mbf-tab-content .sp-element.sp-typography-variant .chosen-container{
    min-width: 106px !important;
}
.sp-tfree-mbf-tab-content .sp-element.sp-typography-family .chosen-container{
    min-width: 276px !important;
}

.sp-tfree-mbf-tab-content .sp-element.sp-font-size,
.sp-tfree-mbf-tab-content .sp-element.sp-font-height{
    margin-right: 25px !important;
    position: relative;
}
.sp-tfree-mbf-tab-content .sp-element.sp-font-size:before,
.sp-tfree-mbf-tab-content .sp-element.sp-font-height:before{
    content: "px";
    position: absolute;
    top: 20px;
    right: -24px;
    height: 34px;
    width: 29px;
    line-height: 34px;
    text-align: center;
    background-color: #f5f5f5;
    display: block;
    border: 1px solid #ddd;
    border-left: none;
}
.sp-tfree-mbf-tab-content .sp-font-preview{
    color: #444444;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    text-transform: none;
    letter-spacing: normal;
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    border: 1px solid #e6e6e6;
    margin-top: 20px;
    background-color: #fff;
    background: rgba(255,255,255,.5);
    border-color: rgba(222,222,222,.75);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.04);
    color: rgba(51,51,51,.5);
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container#tfree_testimonials_from_chosen{
    min-width: 230px !important;
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container#tfree_nav_arrow_position_chosen{
    min-width: 280px !important;
}

.sp-tfree-mbf-tab-content .sp-tfree-input-field .chosen-container{
    min-width: 170px !important;
}


/*Meta fields*/
.sp-tfree-element#field-subheading{
    font-size: 14px;
    font-weight: bold;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #23282d;
    background-color: #f7f7f7;
}
.sp-tfree-element#field-subheading .sp-tfree-input-label{
    width: 100%;
}
.sp-tfree-element#field-subheading div.sp-tfree-input-field{
    display: none;
}
.sp-tfree-element {
    padding: 22px 30px;
    clear: both;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    display: flow-root;
}

.sp-tfree-element div.sp-tfree-input-label,
.sp-tfree-element div.sp-tfree-input-field {
    display: inline-block;
    vertical-align: top;
}

.sp-tfree-element .sp-tfree-input-label {
    position: relative;
    width: 25%;
}

.sp-tfree-element .sp-tfree-input-label label h4 {
    color: #23282d;
    margin: 0;
}

.sp-tfree-element .sp-tfree-input-label p {
    color: #999;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 0;
}

.sp-tfree-element .sp-tfree-input-field {
    margin-left: 10%;
    max-width: 65%;
}

.sp-tfree-mbf-tab-content .sp-tfree-mbf-after {
    padding-left: 5px;
    color: #777;
    font-weight: 300;
}

.sp-tfree-element .sp-tfree-input-number {
    width: 70px;
    background: #fff;
    border-color: #d1d1d1;
    height: 36px;
    line-height: 34px;
    padding-left: 12px;
}

/**
Upgrade to Pro
 */
#poststuff .sp-tfree-upgrade-body .sp-tfree-section-title {
    padding: 13px 30px;
    font-size: 28px;
    line-height: 1;
    font-weight: 700;
    color: #2e9cc7;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

#poststuff .sp-tfree-upgrade-body .sp-tfree-section-feature-icon {
    padding: 30px 30px 0 30px;
}

.sp-tfree-upgrade-body .tfree-option {
    padding: 30px 30px;
    border-bottom: 1px solid #efefef;
}

.sp-tfree-upgrade-body .tfree-option:nth-child(2n+0) {
    background-color: #fafafa;
}

.sp-tfree-upgrade-header .tfree-overlay-color {
    background: #2684a6;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.sp-tfree-upgrade-header {
    overflow: hidden;
    padding: 43px 40px;
    position: relative;
}

.sp-tfree-upgrade-header .sp-tfree-container {
    position: relative;
    z-index: 2;
}

.sp-tfree-upgrade-header .free-upgrade-btn {
    font-size: 15px;
    color: #ffffff;
    border-radius: 0;
    border: 0;
    height: auto !important;
    line-height: 24px !important;
    padding: 13px 18px !important;
    text-align: center;
    font-weight: 500;
}

.sp-tfree-upgrade-header .sp-tfree-col-lg-7 {
    width: 58.33333333%;
    float: left;
}

.sp-tfree-upgrade-header .sp-tfree-col-lg-5 {
    width: 41.66666667%;
    float: left;
    text-align: right;
}

.sp-tfree-upgrade-header .sp-tfree-upgrade-title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.sp-tfree-upgrade-header .sp-tfree-upgrade-subtitle {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
}

.sp-tfree-upgrade-footer .free-upgrade-btn.upgrade-btn,
.sp-tfree-upgrade-footer .free-upgrade-btn.demo-btn {
    font-family: 'Raleway', sans-serif;
    box-shadow: none;
    border: 0;
    color: #fff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 500;
    height: auto !important;
    line-height: 24px !important;
    padding: 13px 20px !important;
    text-align: center;
}

.sp-tfree-upgrade-header .upgrade-btn,
.sp-tfree-upgrade-footer .upgrade-btn {
    background-color: #3cb371;
    box-shadow: 0px 1px 26px -3px #333333;
    margin-right: 14px;
}

.sp-tfree-upgrade-header .upgrade-btn:hover,
.sp-tfree-upgrade-footer .upgrade-btn:hover,
.sp-tfree-upgrade-footer .free-upgrade-btn.upgrade-btn:focus,
.sp-tfree-upgrade-header .free-upgrade-btn.upgrade-btn:focus {
    background: #26a55f;
    color: #fff;
}

.sp-tfree-upgrade-header .demo-btn,
.sp-tfree-upgrade-footer .demo-btn {
    background-color: #52b3d9;
    box-shadow: 0px 1px 26px -3px #333333;
}

.sp-tfree-upgrade-header .demo-btn:hover,
.sp-tfree-upgrade-footer .demo-btn:hover,
.sp-tfree-upgrade-footer .free-upgrade-btn.demo-btn:focus,
.sp-tfree-upgrade-header .free-upgrade-btn.demo-btn:focus {
    background: #2e9cc7;
    color: #fff;
}

.sp-tfree-upgrade-header h1,
.sp-tfree-upgrade-header h4,
.sp-tfree-upgrade-footer h2,
.sp-tfree-upgrade-header p {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#poststuff .sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h2 {
    font-size: 28px;
    padding-top: 40px;
    padding-left: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 0;
}

#poststuff .sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h4{
    line-height: 24px;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.1;
}

#poststuff .sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h2,
.sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h4 {
    color: #7c848e;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 p {
    font-size: 15px;
    color: #444;
    margin-top: 10px;
}

.sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 {
    width: 50%;
    float: left;
}

.sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 .sp-tfree-content {
    font-family: 'Raleway', sans-serif;
    padding: 25px;
}

.sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 img {
    width: 100%;
}

.sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 .sp-tfree-content img {
    box-shadow: 0px 0px 20px 0px #aaaaaa;
}

.sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 h4 {
    margin-top: 0.33em;
}

.sp-tfree-mbf-tab-content .tfree-option:after {
    content: "";
    display: table;
    clear: both;
}

.sp-tfree-mbf-tab-content .sp-tfree-video-tutorial {
    padding: 30px 80px 50px;
}

.sp-tfree-mbf-tab-content .sp-tfree-video-tutorial-video {
    position: relative;
    padding-bottom: 56.4%;
    width: 100%;
    max-width: 100%;
    height: 0;
    text-align: center;
}

.sp-tfree-mbf-tab-content .sp-tfree-video-tutorial-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#poststuff .sp-tfree-mbf-tab-content .sp-tfree-video-tutorial h2 {
    font-size: 30px;
    font-weight: 600;
    color: #444444;
    margin-bottom: 20px;
}

.sp-tfree-mbf-tab-content .tfree-option:after, .sp-tfree-mbf-tab-content .tfree-option:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.sp-tfree-upgrade-footer {
    padding: 60px 40px 40px 40px;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer .tfree-overlay-color {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    background: #2684a6;
}

#poststuff .sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer h2 {
    font-size: 28px;
    margin-top: 12px;
    font-weight: 700;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer p {
    margin-top: 0;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer p {
    margin-top: 0;
    margin-bottom: 34px;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer a {
    margin-bottom: 20px;
}

.sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer p {
    font-size: 18px;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 1200px) {
    .sp-tfree-metabox-framework .sp-tfree-mbf {
        display: block;
    }

    .sp-tfree-mbf-tab-content .sp-tfree-col-lg-2 {
        width: 100%;
        float: none;
    }

    #poststuff .sp-tfree-mbf-tab-content .sp-tfree-upgrade-body .sp-tfree-col-lg-2 h2 {
        padding-top: 0;
    }

    .sp-tfree-mbf-tab-content .sp-tfree-col-lg-2:last-of-type .sp-tfree-content {
        padding-top: 0;
        padding-bottom: 40px;
    }

    .sp-tfree-mbf .sp-tfree-col-lg-3,
    .sp-tfree-element .sp-tfree-input-label,
    .sp-tfree-element .sp-tfree-input-field {
        width: 100%;
    }

    .sp-tfree-mbf .sp-tfree-col-lg-3 {
        display: block;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
        border-right: none;
    }

    .sp-tfree-mbf .sp-tfree-col-lg-3:last-of-type {
        border-bottom: none;
        padding-bottom: 0;
    }

    .sp-tfree-metabox-framework .sp-tfree-element .sp-tfree-input-field {
        margin-left: 0;
    }

    .sp-tfree-upgrade-header .sp-tfree-col-lg-7 {
        width: 100%;
        float: none;
    }

    .sp-tfree-upgrade-header .sp-tfree-col-lg-5 {
        width: 100%;
        float: none;
        text-align: center;
    }

    .sp-tfree-upgrade-header .sp-tfree-container {
        text-align: center;
    }

    .sp-tfree-upgrade-header .sp-tfree-upgrade-subtitle {
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .sp-tfree-upgrade-header .demo-btn,
    .sp-tfree-upgrade-footer .demo-btn,
    .sp-tfree-upgrade-header .upgrade-btn,
    .sp-tfree-upgrade-footer .upgrade-btn {
        margin: 0 auto;
        display: block;
    }

    .sp-tfree-mbf-tab-content .sp-tfree-upgrade-header a.upgrade-btn,
    .sp-tfree-mbf-tab-content .sp-tfree-upgrade-footer a.upgrade-btn,
    .sp-tfree-upgrade-header .sp-tfree-upgrade-subtitle {
        margin-bottom: 20px;
    }

    .sp-tfree-upgrade-header .sp-tfree-col-lg-7 {
        width: 100%;
        float: none;
    }

    .sp-tfree-upgrade-header .sp-tfree-col-lg-5 {
        width: 100%;
        float: none;
        text-align: center;
    }

    .sp-tfree-upgrade-header .sp-tfree-container {
        text-align: center;
    }
}